body {
	font-family: "Lato", sans-serif;
	color: #3c3937;
	font-weight: 400;	
}

.title-logo {
	margin-top: 20px;
	border-image-width: 50%;
	max-width: 100px;
	max-height: 100px;
	border-radius: 50px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 58px;
}

.col-md-4 {	
	margin-bottom: 40px;
}

.img-responsive{
	width: 100%;
}

hr {
    border: none;
    height: 4px;    
    background-color: #bcbbbb;  
}

h2 {
	text-transform: uppercase;
	color: #3c3937;
}

a {
	color: #3c3937;
}

header {
	font-size: 30px;
	margin-top: 20px;
	margin-left: 4px;
}