body{
	font-family: 'Lato', sans-serif;
	color: #3C3937;
	font-weight: 400;	
}
.title-logo{
	margin-top: 20px;
	border-image-width: 50%;
	max-width: 100px;
	max-height: 100px;
	border-radius: 50px;
}
.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}
.title-super{
	font-size: 58px;
}
.col-md-4{
	margin-bottom: 40px;
}
hr {
    border: none;
    height: 4px;    
    background-color: #BCBBBB;  
}
h2{
	text-transform: uppercase;
	color: #3C3937;
}
a{
	color: #3C3937;
}
header{
	font-size: 30px;
	margin-top: 20px;
	margin-left: 4px;
}