body {
	font-family: "Lato", sans-serif;
	color: #3c3937;
	font-weight: 400;
}

.title-logo {
	margin-top: 20px;
	border-image-width: 50%;
	max-width: 100px;
	max-height: 100px;
	border-radius: 50px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 58px;
}

.col-md-4 {
	margin-bottom: 20px;
}

.img-responsive {
	max-width: 100%;
}

hr {
	border: none;
	height: 4px;
	background-color: #bcbbbb;
}

h2 {
	text-transform: uppercase;
	color: #3c3937;
}

a {
	margin: 1.5em 0 1.5em 0;
}

header {
	font-size: 30px;
	margin: 20px 0 0 4px;
}

@media screen and (max-width: 400px) {
	.title-super {
		font-size: 48px;
	}

	.title-logo {
	margin-top: 20px;
	border-image-width: 50%;
	max-width: 60px;
	max-height: 60px;
	border-radius: 50px;
	}
}
